.header-top, footer {
    background-color: #4682B4;
    color: #f3f7fa;
    font-size: 15px;
    font-weight: bold;
}

.header-banner {
    background-image: url('/images/banner.jpg');
    height: 250px;
    background-position: center;
    background-size: cover;
}

.perfil {
    margin-top: -75px;
    margin-right: 20px;
}

.porDefecto {
    background-color: #c4c4c4;
    width: 100px;
    height: 75px;
}

.logo-organizacion {
    margin-right: 20px;
    margin-bottom: 10px;
}

.img-shadow {
    box-shadow: 1px 1px 5px 0px #6c6c6c;
}

hr {
    background-color: #4682B4;
}

.skill .circle-skill {
    width: 120px;
    height: 120px;
    position: relative;
}

.skill .outer {
    height: 120px;
    width: 120px;
    border-radius: 50%;
    padding: 20px;
    box-shadow: 6px 6px 10px -1px rgba(0, 0, 0, 0.15),
                -6px -6px 10px -1px rgba(255, 255, 255, 0.7);
}

.skill .inner {
    height: 80px;
    width: 80px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: inset 4px 4px 6px -1px rgba(0, 0, 0, 0.2),
                inset -4px -4px 6px -1px rgba(255, 255, 255, 0.7),
                -0.5px -0.5px 0px rgba(255,255,255,1),
                0.5px 0.5px 0px rgba(0, 0, 0, 0.15);
}

.skill .number {
    font-weight: bold;
    color: #555;
}

.skill circle {
    fill: none;
    stroke: url(#gradient);
    stroke-width: 20px;
    stroke-dasharray: 314;
    stroke-dashoffset: 314;
}

.skill svg {
    position: absolute;
    width: 120px;
    height: 120px;
    top: 0;
    left: 0;
}

.text-justify {
    text-align: justify;
}

.img-proyecto img {
    width: 200px;
    box-shadow: 6px 6px 0px 0px #4682B4;
}